<html>
    <head>
        <title>Todo App</title>
        <% include ..partials/links.ejs %>
    </head>
    <body>
        <% include ..partials/nav.ejs %>
        <section id="home-section">
            <div class="column">
                <div class ="row">
                    <div class ="col text-center">
                        <h2>WELCOME TO TODOO APP</h2>
                        <p>We make your tasks doable.</p>
                        <hr/>
                        <form>
                            <input type="text" name="item" placeholder="add new item..." required>
                            <button type="submit" >Add Task</button>
                        </form>
                        <ul>
                            <li>Task 1 1</li>
                            <lI>Task 2</lI>
                            <lI>Task 3</lI>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
    </body>
</html>